.attractions-form input{
  display: block;
  padding: .2em .5em;
  margin: auto;
  width: 75%;
  font-size: 4vh;
  background-color:white;
  border-radius: 20px;
}
.attractions-form {
  display: block;
  padding: .2em .5em;
  margin: auto;
  width: 75%;
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.514);  
  margin-top: 15px;
  border-radius: 20px;
}

.buttons-section {
  margin-top:15px;
  display:flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.buttons-section-bottom {
  margin-top:15px;
  display:flex;
  justify-content: space-around;
  
}