.whole-form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto 15px
}

.textarea-label {
    vertical-align: top;
}
.comment-inputs{
    margin: 10px auto;
    width: 60%;
    display: block;
}

.comment-submit {
    margin: 0 auto;
    display: block;
    background-color: black;
    color: white;
}
.paragraph {
    text-align: center;
}